@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background-color: green;
}
.card {
  display: inline-block;
  margin: 20px auto auto auto;
  height: 400px;
  width: 250px;
  border: 1px solid black;
  border-radius: 10px;
  position: relative;
}
.top-suit {
  position: absolute;
  top: -5px;
  left: 20px;
  font-size: 80px;
}
.bottom-suit {
  position: absolute;
  bottom: -5px;
  right: 20px;
  font-size: 80px;
}
.number {
  font-size: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 400px;
}
